<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Standard Report App</title>

    <meta name="description" content="DHIS 2">
    <meta name="keywords" content="DHIS 2">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- DHIS2 Settings initialization for a baseUrl that is used for the menu -->
    <script type="text/javascript">
        window.dhis2 = window.dhis2 || {};
        dhis2.settings = dhis2.settings || {};
        dhis2.settings.baseUrl = 'demo';
    </script>
    <script type="text/javascript" src="../../../dhis-web-commons/javascripts/jQuery/jquery.min.js"></script>
    <script type="text/javascript" src="../../../dhis-web-commons/javascripts/jQuery/ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../../dhis-web-commons/javascripts/jQuery/jquery.plugin.min.js"></script>
    <script src="https://cdn.rawgit.com/zenorocha/clipboard.js/v1.5.12/dist/clipboard.min.js"></script>

    <script type="text/javascript" src="../../../dhis-web-commons/bootstrap/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="../../../dhis-web-commons/bootstrap/css/bootstrap.min.css">

    <script type="text/javascript" src="../../../dhis-web-commons/javascripts/angular/angular.js"></script>
    <script type="text/javascript" src="../../../dhis-web-commons/javascripts/angular/angular-resource.js"></script>
    <script type="text/javascript" src="../../../dhis-web-commons/javascripts/angular/angular-route.js"></script>
    <script type="text/javascript" src="../../../dhis-web-commons/javascripts/angular/angular-cookies.js"></script>
    <script type="text/javascript" src="../../../dhis-web-commons/javascripts/angular/angular-sanitize.js"></script>
    <script type="text/javascript" src="../../../dhis-web-commons/javascripts/angular/angular-animate.js"></script>
    <script type="text/javascript" src="../../../dhis-web-commons/javascripts/angular/ui-bootstrap.js"></script>
    <script type="text/javascript" src="../../../dhis-web-commons/javascripts/dhis2/dhis2.util.js"></script>
    <script type="text/javascript" src="assets/js/commons.js"></script>
    <script type="text/javascript" src="../../../main.js"></script>

    <script type="text/javascript"
            src="../../../dhis-web-commons/javascripts/angular/plugins/angularLocalStorage.js"></script>
    <script type="text/javascript"
            src="../../../dhis-web-commons/javascripts/angular/plugins/angular-translate.min.js"></script>
    <script type="text/javascript" src="../../../dhis-web-commons/javascripts/dhis2/dhis2.angular.services.js"></script>
    <script type="text/javascript"
            src="../../../dhis-web-commons/javascripts/dhis2/dhis2.angular.controllers.js"></script>
    <script src="assets/js/ng-file-upload/ng-file-upload.min.js"></script>
    <script type="text/javascript" src="assets/js/toaster/toaster.min.js"></script>
    <script type="text/javascript" src="assets/js/filemanager/angular-filemanager.min.js"></script>

    <script type="text/javascript" src="scripts/app.js"></script>
    <script type="text/javascript" src="scripts/services.js"></script>
    <script type="text/javascript" src="scripts/directives.js"></script>
    <script type="text/javascript" src="scripts/controllers.js"></script>
    <script type="text/javascript" src="scripts/filters.js"></script>

    <!-- Menu scripts -->
    <script type="text/javascript" src="../../../dhis-web-commons/javascripts/dhis2/dhis2.translate.js"></script>
    <script type="text/javascript" src="../../../dhis-web-commons/javascripts/dhis2/dhis2.menu.js"></script>
    <script type="text/javascript" src="../../../dhis-web-commons/javascripts/dhis2/dhis2.menu.ui.js"></script>

    <link type="text/css" rel="stylesheet" href="../../../dhis-web-commons/font-awesome/css/font-awesome.min.css"/>
    <link type="text/css" rel="stylesheet" media="screen" href="assets/css/widgets.css"/>
    <link type="text/css" rel="stylesheet" media="screen" href="../../../dhis-web-commons/css/menu.css">
    <link type="text/css" rel="stylesheet" href="assets/js/toaster/toaster.min.css">
    <link type="text/css" rel="stylesheet" href="../../../dhis-web-commons/css/light_blue/light_blue.css">

    <link type="text/css" rel="stylesheet" href="assets/css/style.css">

</head>
<style>


    #leftBar {
        z-index: 100;
    }

    #showLeftBar,#rightBar {

        margin-top: 70px;
    }

    .contentLeft {
        margin-left: 30px !important;
    }

    .contentRight {
        margin-left: 450px !important;
    }

    #toast-container {
        top: 144px;
        left: 50%;
        margin-left: -100px;
    }

    #mainPages {
        margin-top: 150px;
        margin-left: 300px;
    }
    .introItem {
        height: 100px;
    }
    #leftBar {
        margin-top: 10px;
    }
    .navbar-inverse .navbar-brand {
        color: #ffffff !important;
    }
</style>
<script>
    var hideAnimated = dhis2.leftBar.hideAnimated;
    dhis2.leftBar.hideAnimated = function () {
        hideAnimated();
        document.getElementById("mainPages").classList.add("contentLeft");
    }
    var showAnimated = dhis2.leftBar.showAnimated;
    dhis2.leftBar.showAnimated = function () {
        showAnimated();
        document.getElementById("mainPages").classList.remove("contentLeft");
    }
    var extendAnimated = dhis2.leftBar.extendAnimated;
    dhis2.leftBar.extendAnimated = function () {
        extendAnimated();
        document.getElementById("mainPages").classList.add("contentRight");
    }

    var retract = dhis2.leftBar.retract;
    dhis2.leftBar.retract = function () {
        retract();
        document.getElementById("mainPages").classList.remove("contentRight");
    }
</script>
<body>
<d2-header-bar></d2-header-bar>
<toaster-container></toaster-container>
<!--<div ng-include="'views/header.html'"></div>-->
<span id="showLeftBar" ng-style="showStyle">
        <a href="javascript:dhis2.leftBar.showAnimated()" title="Show menu">
            <i class="fa fa-arrow-right leftBarIcon"></i></a>
      </span>
<div id="leftBar" ng-style="leftBarStyle">
    <div id="hideLeftBar">
        <a href="javascript:dhis2.leftBar.hideAnimated()"
           title="Hide menu"
           id="hideMainMenuLink"><!--ng-click="myStyle={'margin-left': '50px'};showStyle={'display': 'block'}"-->
            <i class="fa fa-arrow-left leftBarIcon"></i></a>
        <a href="javascript:dhis2.leftBar.extendAnimated()"

           title="Extend menu" id="extendMainMenuLink">
            <i class="fa fa-arrow-right leftBarIcon"></i></a>
        <!--ng-click="myStyle['margin-left']='270px';showStyle={'display': 'none'}"-->
    </div>

    <div id="leftBarContents">

        <h2>Report&nbsp;</h2>
        <ul>
            <li><a href="#/dataSetReport">Standard Report&nbsp;</a></li>
            <li><a href="../../../dhis-web-reporting/displayViewReportForm.action">Custom Report&nbsp;</a></li>
            <li><a href="../../../dhis-web-reporting/displayViewDataCompletenessForm.action">Submission Status&nbsp;</a>
            </li>
            <li><a href="../../../dhis-web-reporting/showDataApprovalForm.action">Data Approval&nbsp;</a></li>
        </ul>

        <h2>Analytics&nbsp;</h2>
        <ul>
            <li><a href="../../../dhis-web-reporting/displayDataMartForm.action">Aggregation&nbsp;</a></li>
        </ul>
    </div>
</div>

<div id="headerMessage" class="bold"></div>

<div class="page" id="mainPages">
    <div ng-view></div>
</div>

<script type="text/javascript">
</script>

<div id="rightBar">
      <span id="hideRightBar"><a href="javascript:hideHelpContent()" title="Close">
          <i class="fa fa-times leftBarIcon"></i></a>
      </span>
    <div id="rightBarContents"></div>
</div>

</body>
</html>
