<h4>Scheduled Reports</h4>
<scheduled-reports done="reports_done"></scheduled-reports>
<h4>Aggregation tables management</h4>
<p>Aggregation tables update</p>

<button class="btn btn-info"  ng-click="startAggregation()">Start</button>
<div class="row">
    <div class="col-sm-6">
        <div style="margin-top: 15px; background-color: #f9edbe; min-height: 100px; width: 90%; border: 1px solid #dbae56;" >
            <img ng-if="activities.is_running == 'Yes'" src="../../../images/ajax-loader-bar.gif">
            <table>
                <tr ng-repeat="data in activities.activities | orderBy:'date':true">
                    <td>
                        {{ data.date }} : {{ data.action }} &nbsp;&nbsp;&nbsp;
                        <img ng-if="data.action == 'The Aggregation Operation is complete'" src="../../../images/completed.png">
                        <!--<img ng-if="activities.is_running != 'Yes'" src="../../../images/ajax-loader-bar.gif">-->
                        <small ng-if="data.action == 'Initiating Analytics'"><strong>-> Check status on right side -></strong></small>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-sm-6" ng-if="activities.analytics_is_running == 'Yes'">
        <div style="margin-top: 15px; background-color: #f9edbe; min-height: 100px; width: 90%; border: 1px solid #dbae56;" >
            <table>
                <tr ng-repeat="data in analytics_activities | orderBy:'time':true">
                    <td>
                        {{ data.time }} : {{ data.message }} &nbsp;&nbsp;&nbsp;
                        <img ng-if="data.completed" src="../../../images/completed.png">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>