
<tbody>
<tr ng-if="!config.groupBy" ng-repeat="event in data.events">
    <!--<td ng-repeat="dataElement in data.dataElements">{{dataElement.event[dataElement.name]}}</td>-->
    <td ng-repeat="dataElement in data.dataElements">{{event[dataElement.name]}}</td>
</tr>
<tr style="border:1px solid black" ng-if="config.groupBy" ng-repeat="event in data.events">
    <!--<td ng-repeat="dataElement in data.dataElements">{{dataElement.event[dataElement.name]}}</td>-->
    <td  ng-if="event[dataElement.name] != undefined" ng-repeat="dataElement in data.dataElements">{{event[dataElement.name]}}</td>
</tr>
</tbody>