<style type="text/css">
    div#control {
        margin-bottom: 15px;
    }

    div.inputSection {
        padding-top: 7px;
        padding-bottom: 5px;
    }
</style>
<div ng-if="loadTracker" class="loader" style="margin-top: 0px;">
    <img
            src="../../../images/ajax-loader-bar.gif"> {{loadTracker}}
</div>
<div id="criteria" class="inputCriteria" style="width: 360px; margin-top: 0px;">

    <!-- Data set -->

    <div class="inputSection" style="margin-top: 0px;">
        <label>Report</label><br>
        <select ng-disabled="loadTracker" ng-options="dataSet as dataSet.name for dataSet in data.dataSets | orderBy:'code'" style="width:330px"
                ng-model="data.dataSet"  ng-change="reportChange()">
            <option value="">[ Select Report ]</option>
        </select>
    </div>

    <div id="dimensionsDiv" style="display: none; margin-top: 0px;"></div>

    <!-- Period -->

    <div class="inputSection" style="margin-top: 0px;">
        <label>Report Period</label><br>
        <select ng-disabled="loadTracker" ng-model="data.period" style="width:185px">
            <!--  ng-options="item.name as item.value for item in data.periodTypes[data.dataSet.periodType].list"-->
            <option value="">[ Select Period ]</option>
            <option ng-repeat="periodType in data.periodTypes[data.dataSet.periodType].list"
                    value="{{periodType.value}}">
                {{periodType.name}}
            </option>
        </select>
        <input type="button" style="width:70px" ng-disabled="!data.periodTypes[data.dataSet.periodType].allowPrevious" value="Prev year" ng-click="displayPreviousPeriods()">
        <input type="button" style="width:70px" ng-disabled="!data.periodTypes[data.dataSet.periodType].allowNext" value="Next year" ng-click="displayNextPeriods()"><br>
    </div>

    <!-- Organisation unit -->

    <div class="inputSection" style="margin-top: 0px;">
        <label>Report Adminstrative Units</label><br>
        <div style="background-color:white;width: 328px; height: 200px; overflow: auto; border: 1px solid rgb(204, 204, 204); margin-bottom: 8px; margin-top: 0px; background-image: url(&quot;../images/ajax-loader-circle.gif&quot;); background-repeat: no-repeat;">
            <div ng-if="!data.organisationUnits" class="loader" style="margin-top: 0px;"><img
                    src="../../../images/ajax-loader-bar.gif">Loading Administartive Units</div>
            <c-tree ng-if="data.organisationUnits" tree-modal='data.organisationUnits' change-model="data.changeOrgUnit" ng-model="data.selectedOrgUnit"
                    config="data.config"></c-tree>
        </div>
    </div>

    <!-- Org unit group sets -->

    <div id="advancedOptions" style="display: none; margin-top: 0px;">
    </div>


    <div class="inputSection" style="margin-top: 0px;">
        <input type="button"
               ng-disabled="!data.dataSet || !data.selectedOrgUnit.name || data.period == ''"
               value="Get Report" style="width:120px" ng-click="generateDataSetReport()">
        <input type="button"
               value="Cancel" style="width:120px" ng-click="cancel()" html-link="">
    </div>

</div>
