<div style="display: initial;"><!-- Button trigger modal -->
    <style>
        .modal-dialog {
            width: 90%;
        }
    </style>

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            Debug <span ng-if="objectType == 'dataElement'">Data Element </span><span ng-if="objectType == 'indicator'">Computed Values </span>Panel
            <button type="button" class="close" ng-click="cancel()"><span
                    aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">
                <div ng-if="config.type == 'dataElement'">Data Element</div>
                <div ng-if="config.type == 'indicator'">Computed Values</div>
            </h4>
        </div>
        <div class="modal-body">
            <div ng-if="loading">
                <img src="../../../images/ajax-loader-bar.gif"> Loading Debug Data..
            </div>
            <button class="btn">Copy</button>
            <table id="copyTable" ng-if="!loading" class="table table-bordered">
                <tr>
                    <td style="width: 20%;">Name of <span ng-if="objectType == 'dataElement'">Data Element </span><span
                            ng-if="objectType == 'indicator'">Computed Values </span></td>
                    <td>{{data.object.name}} </td>
                </tr>
                <tr>
                    <td style="width: 20%;">Administartive </td>
                    <td>{{orgUnit.name}}</td>
                </tr>
                <tr>
                    <td>Dataset source</td>
                    <td>
                        <table>
                            <tr ng-repeat="dataSet in data.object.dataSets | dataEntryForm:TOR.source">
                                <td>{{dataSet.name}}</td>
                                <td></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr ng-if="objectType == 'dataElement'">
                    <td>Aggregation operator</td>
                    <td>{{data.object.aggregationType}}</td>
                </tr>
                <tr ng-if="objectType == 'dataElement'">
                    <td>Value type</td>
                    <td>{{data.object.valueType}}</td>
                </tr>
                <tr ng-if="objectType == 'indicator'">
                    <td>Numerator</td>
                    <td>{{getFormulaDescription(data.object.numerator)}}</td>
                </tr>
                <tr ng-if="objectType == 'indicator'">
                    <td>Denominator</td>
                    <td>{{getFormulaDescription(data.object.denominator)}}</td>
                </tr>
                <tr ng-if="objectType == 'dataElement'">
                    <td>Estimation Method</td>
                    <td>{{estimation}}</td>
                </tr>
                <tr>
                    <td>Source Values</td>
                    <td>
                        <table class="table table-bordered">
                            <thead ng-if="(dataSetOrganisationUnit.level - orgUnit.level) == 2">
                            <tr>
                                <td>Region</td>
                                <td>District</td>
                                <td ng-repeat="categoryOptionCombo in categoryCombo.categoryOptionCombos | orderBy:'name'" ng-if="objectType == 'dataElement'">{{categoryOptionCombo.name}}</td>
                                <td ng-if="objectType == 'indicator'" ng-repeat="dx in matcher">{{getDXName(dx)}}</td>
                            </tr>
                            </thead>
                            <thead ng-if="(dataSetOrganisationUnit.level - orgUnit.level) != 2">
                            <tr>
                                <td>#</td>
                                <td>Name</td>
                                <td ng-repeat="categoryOptionCombo in categoryCombo.categoryOptionCombos | orderBy:'name'" ng-if="objectType == 'dataElement'">{{categoryOptionCombo.name}}</td>
                                <td ng-if="objectType == 'indicator'" ng-repeat="dx in matcher">{{getDXName(dx)}}</td>
                            </tr>
                            </thead>
                            <tbody ng-if="organisationUnitLevels == 2">
                            <tr ng-repeat-start="child in orgUnit.children | orderBy:'name'">
                                <td rowspan="{{child.children.length}}">{{child.name}}</td>
                                <td ng-if="$first" ng-repeat="child1 in child.children | orderBy:'name'">{{child1.name}}</td>
                                <td ng-repeat="categoryOptionCombo in categoryCombo.categoryOptionCombos | orderBy:'name'" ng-if="objectType == 'dataElement'"><span ng-repeat="child1 in child.children | orderBy:'name'" ng-if="$first">{{child1.data[id][categoryOptionCombo.name].join(",")}}</span></td>
                                <!--<td ng-repeat="child1 in child.children | orderBy:'name'" ng-if="objectType == 'dataElement' && $first">{{child1.data[id].actual.join(",")}}</td>
                                <td ng-repeat="child1 in child.children | orderBy:'name'" ng-if="objectType == 'dataElement' && $first">{{child1.data[id].estimate.join(",")}}</td>-->
                                <td ng-if="objectType == 'indicator'" ng-repeat="dx in matcher">{{child.data[dx]}}</td>
                            </tr>
                            <tr ng-if="$index != 0" ng-repeat="child1 in child.children | orderBy:'name'">
                                <td>{{child1.name}}</td>
                                <td ng-repeat="categoryOptionCombo in categoryCombo.categoryOptionCombos | orderBy:'name'" ng-if="objectType == 'dataElement'">{{child1.data[id][categoryOptionCombo.name].join(",")}}</td>
                                <!--<td ng-if="objectType == 'dataElement'">{{child1.data[id].actual.join(",")}}</td>
                                <td ng-if="objectType == 'dataElement'">{{child1.data[id].estimate.join(",")}}</td>-->
                                <td ng-if="objectType == 'indicator'" ng-repeat="dx in matcher">{{child1.data[dx]}}</td>
                            </tr>
                            <tr ng-repeat-end></tr>
                            </tbody>
                            <tbody ng-if="organisationUnitLevels == 1">
                            <tr ng-repeat="child in orgUnit.children | orderBy:'name'">
                                <td>{{$index + 1}}</td>
                                <td>{{child.name}}</td>
                                <td ng-repeat="categoryOptionCombo in categoryCombo.categoryOptionCombos | orderBy:'name'" ng-if="objectType == 'dataElement'">{{child.data[id][categoryOptionCombo.name].join(",")}}</td>
                                <td ng-if="objectType == 'indicator'" ng-repeat="dx in matcher">{{child.data[dx]}}</td>
                            </tr>
                            </tbody>
                            <tbody ng-if="organisationUnitLevels == 0">
                            <tr>
                                <td>{{$index + 1}}</td>
                                <td>{{orgUnit.name}}</td>
                                <td ng-repeat="categoryOptionCombo in categoryCombo.categoryOptionCombos | orderBy:'name'" ng-if="objectType == 'dataElement'">{{orgUnit.data[id][categoryOptionCombo.name].join(",")}}</td>
                                <td ng-if="objectType == 'indicator'" ng-repeat="dx in matcher">{{data.data.join(",")}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr ng-if="objectType == 'dataElement'">
                    <td>Aggregation Results Value</td>
                    <td>{{data.data.join(",")}}</td>
                </tr>
                <tr>
                    <td>Consolidation Methods</td>
                    <td>{{TOR.consolidation}}</td>
                </tr>
                <tr ng-if="objectType == 'dataElement'">
                    <td>Estimation Data</td>
                    <td>{{estimationData.join(",")}}</td>
                </tr>
                <tr>
                    <td>For Developer Use</td>
                    <td>
                        <table>
                            <tr><td>Object ID</td><td>{{id}} </td></tr>
                            <tr><td>Url</td><td>#/dataSetReport/report/dataSet/{{param.dataSet}}/orgUnit/{{param.orgUnit}}/period/{{param.period}}/debug</td></tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="cancel()">Close</button>
        </div>
    </script>
    <button type="button" class="btn btn-primary btn-sm" ng-click="show()">
        <span class="glyphicon glyphicon-cog"></span>
    </button>
</div>