<div><!-- Button trigger modal -->
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            Debug <span ng-if="objectType == 'dataElement'">Data Element </span><span ng-if="objectType == 'indicator'">Indicator </span>Panel
            <button type="button" class="close"  ng-click="cancel()"><span
                    aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><div ng-if="config.type == 'dataElement'">Data Element</div><div ng-if="config.type == 'indicator'">Indicator</div></h4>
        </div>
        <div class="modal-body">
            <table class="table table-bordered">
                <tr>
                    <td style="width: 20%;">Name of <span ng-if="objectType == 'dataElement'">Data Element </span><span ng-if="objectType == 'indicator'">Indicator </span></td><td>{{data.object.name}}</td>
                </tr>
                <tr>
                    <td>Dataset source</td>
                    <td>
                        <table>
                            <tr ng-repeat="dataSet in data.object.dataSets | dataEntryForm">
                                <td>{{dataSet.name}}</td>
                                <td></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr ng-if="objectType == 'dataElement'">
                    <td>Aggregation operator</td><td>{{data.object.aggregationType}}</td>
                </tr>
                <tr ng-if="objectType == 'dataElement'">
                    <td>Value type</td><td>{{data.object.valueType}}</td>
                </tr>
                <tr ng-if="objectType == 'indicator'">
                    <td>Numerator</td><td>{{getFormulaDescription(data.object.numerator)}}</td>
                </tr>
                <tr ng-if="objectType == 'indicator'">
                    <td>Denominator</td><td>{{getFormulaDescription(data.object.denominator)}}</td>
                </tr>
                <tr>
                    <td>Administrative Unit</td>
                    <td>{{orgUnit.name}}
                        <table class="table table-bordered">

                            <thead><tr>
                                <td>#</td>
                                <td>Name</td>
                                <td ng-if="objectType == 'dataElement'">Value</td>
                                <td ng-if="objectType == 'indicator'" ng-repeat="dx in matcher">{{getDXName(dx)}}</td>
                            </tr></thead>
                            <tr ng-repeat="child in orgUnit.children | orderBy:'name'">
                                <td>{{$index + 1}}</td>
                                <td>{{child.name}}</td>
                                <td ng-if="objectType == 'dataElement'">{{child.data[id]}}</td>
                                <td ng-if="objectType == 'indicator'" ng-repeat="dx in matcher">{{child.data[dx]}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>Consolidation Methods</td><td>{{TOR.consolidation}}</td>
                </tr>
                <tr ng-if="objectType == 'dataElement'">
                    <td>Estimation Method</td><td>{{estimation}}</td>
                </tr>
                <tr ng-if="objectType == 'dataElement'">
                    <td>Estimation Data</td><td>{{estimationData.join(",")}}</td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="cancel()">Close</button>
        </div>
    </script>
    <button type="button" class="btn btn-primary btn-sm" ng-click="show()">
        <span class="glyphicon glyphicon-cog"></span>
    </button>
</div>