<h3>Reports</h3>

	<ul class="introList">
		<li class="introItem" onclick="window.location.href='#/dataSetReport';">
			<img src="../../../icons/standardreport.png" class="introIcon">
			<div class="introItemText"><div class="introItemHeader">Standard Report</div><div>View Standard Reports. These reports are based on data entry screens and will produce a report with aggregated data.</div></div>
		</li>
		<li class="introItem" onclick="window.location.href='../../../dhis-web-reporting/displayViewReportForm.action'">
			<img src="../../../icons/datasetreport.png" class="introIcon">
			<div class="introItemText"><div class="introItemHeader">Custom Report</div><div>View and add reports based on the JasperReports library. These can be based on report tables and can be designed in iReport.</div></div>
		</li>

		<!--<li class="introItem" onclick="window.location.href='#/dataApproval'">
			<img src="../../../icons/dataapproval.png" class="introIcon">
			<div class="introItemText"><div class="introItemHeader">Data Approval</div><div>View data and manage data approval by approving or unapproving, accepting or unaccepting data.</div></div>
		</li>-->

		<li class="introItem" onclick="window.location.href='#/staticTable';">
			<img src="../../../icons/standardreport.png" class="introIcon">
			<div class="introItemText"><div class="introItemHeader">Static Tables</div><div>View static tables report. These reports are based on appended yearly generated reports for some chosen tables.</div></div>
		</li>
		<li class="introItem" onclick="window.location.href='../../../api/apps/Submission-and-Creation-status/index.html'">
			<img src="../../../icons/reportingratesummary.png" class="introIcon">
			<div class="introItemText"><div class="introItemHeader">Submission and Creation Status</div><div>Browse the reporting rates of entry forms and reports by administrative unit and period based on various criteria for submission.</div></div>
		</li>
	</ul>
