<h3>Reports</h3>

	<ul class="introList">
		<li class="introItem" onclick="window.location.href='#/standardReport';">
			<img src="../../../icons/standardreport.png" class="introIcon">
			<div class="introItemText"><div class="introItemHeader">Standard Report</div><div>View and add reports based on the JasperReports library. These can be based on report tables and can be designed in iReport.</div></div>
		</li>
		<li class="introItem" onclick="window.location.href=&#39;showDataSetReportForm.action&#39;">
			<img src="../../../icons/datasetreport.png" class="introIcon">
			<div class="introItemText"><div class="introItemHeader">Data Set Report</div><div>View data set reports. These reports are based on data entry screens and will produce a report with aggregated data.</div></div>
		</li>
		<li class="introItem" onclick="window.location.href=&#39;displayViewDataCompletenessForm.action&#39;">
			<img src="../../../icons/reportingratesummary.png" class="introIcon">
			<div class="introItemText"><div class="introItemHeader">Reporting Rate Summary</div><div>Browse the reporting rates of data sets by organisation unit and period based on various criteria for submission.</div></div>
		</li>
		<li class="introItem" onclick="window.location.href=&#39;displayViewDocumentForm.action&#39;">
			<img src="../../../icons/resource.png" class="introIcon">
			<div class="introItemText"><div class="introItemHeader">Resource</div><div>View and add resources. These resources can be uploaded documents or URLs on the web.</div></div>
		</li>
		<li class="introItem" onclick="window.location.href=&#39;displayOrgUnitDistribution.action&#39;">
			<img src="../../../icons/distribution.png" class="introIcon">
			<div class="introItemText"><div class="introItemHeader">Organisation Unit Distribution Report</div><div>Browse the organisation unit distribution report based on the organisation unit group sets and its groups.</div></div>
		</li>
		<li class="introItem" onclick="window.location.href=&#39;showDataApprovalForm.action&#39;">
			<img src="../../../icons/dataapproval.png" class="introIcon">
			<div class="introItemText"><div class="introItemHeader">Data Approval</div><div>View data and manage data approval by approving or unapproving, accepting or unaccepting data.</div></div>
		</li>
		<li class="introItem" onclick="window.location.href=&#39;displayManageTableForm.action&#39;">
			<img src="../../../icons/reporttable.png" class="introIcon">
			<div class="introItemText"><div class="introItemHeader">Report Table</div><div>Add and generate report tables. Report tables are customizable database tables which can be used as basis for reports.</div></div>
		</li>
	</ul>
