<h3>Reports</h3>

	<ul class="introList">
		<li class="introItem" onclick="window.location.href='#/standardReport';">
			<img src="../../../icons/standardreport.png" class="introIcon">
			<div class="introItemText"><div class="introItemHeader">Standard Report</div><div>View and add reports based on the JasperReports library. These can be based on report tables and can be designed in iReport.</div></div>
		</li>
		<li class="introItem" onclick="window.location.href='../../../dhis-web-reporting/displayViewReportForm.action'">
			<img src="../../../icons/datasetreport.png" class="introIcon">
			<div class="introItemText"><div class="introItemHeader">Data Set Report</div><div>View data set reports. These reports are based on data entry screens and will produce a report with aggregated data.</div></div>
		</li>
		<li class="introItem" onclick="window.location.href='../../../dhis-web-reporting/displayViewDataCompletenessForm.action'">
			<img src="../../../icons/reportingratesummary.png" class="introIcon">
			<div class="introItemText"><div class="introItemHeader">Reporting Rate Summary</div><div>Browse the reporting rates of data sets by organisation unit and period based on various criteria for submission.</div></div>
		</li>
		<li class="introItem" onclick="window.location.href='../../../dhis-web-reporting/showDataApprovalForm.action';">
			<img src="../../../icons/dataapproval.png" class="introIcon">
			<div class="introItemText"><div class="introItemHeader">Data Approval</div><div>View data and manage data approval by approving or unapproving, accepting or unaccepting data.</div></div>
		</li>
	</ul>
