<style type="text/css">#cde table {
    border-collapse: collapse;

}

#cde table, #cde th, #cde td {
    border: 1px solid #c0c0c0;
}

#cde td, #cde th {
    height: 10px;
    padding: 5px;
    margin: 5px;
    word-wrap: break-word;
}

.cde-greyfield {
    background-color: #e0e0e0;
}
</style>
</p>

<div class="text text-center ng-scope">
    <h2><strong>UNITED REPUBLIC OF TANZANIA</strong></h2>
</div>

<div class="text text-center ng-scope">
    <h2><strong>(OWM - TAMISEMI)</strong></h2>
</div>

<div class="nembo text text-center ng-scope"><img class="img-rounded" src="../../../dhis-web-commons/css/portalImages/nembo.png" style="height:120px;width:100px"></div>

<div class="interReport text text-center ng-scope">
    <h2><strong>AGRICULTURE SECTOR DEVELOPMENT PROGRAMME(ASDP)</strong></h2>
</div>

<div class="interReport text text-center ng-scope">
    <h2><strong>ANNUAL DATA COLLECTION REPORT</strong></h2>
</div>

<div class="annually text text-center ng-scope">
    <address>
        <h3><strong>ASPD Monitoring &amp; Evaluation Thematic Working Group </strong></h3>
    </address>
</div>

<div class="text text-center ng-scope">
    <h3 class="adminstrative">&nbsp;</h3>
</div>