<div>
    <div ng-if="!choice">
        <table ng-if="listByWard.values.length > 0" style="min-width:100px">
            <!--<thead style="border:1px solid lightgrey"><tr><td>Administrative Unit</td><td></td></tr></thead>-->
            <tbody>
            <tr ng-if="!count" ng-repeat="row in data">
                <td style="border:1px solid lightgrey;width:20%">{{row.name}}</td>
                <td style="border:1px solid lightgrey;width:80%">{{row.value}}</td>
            </tr>
            <tr ng-if="count">
                <td style="border:1px solid lightgrey;width:20%">{{listByWard.name}}</td>
                <td style="border:1px solid lightgrey;width:80%">Idadi ya Vijiji</td>
            </tr>
            <tr ng-if="count" ng-repeat="(key,value) in data">
                <td style="border:1px solid lightgrey;width:20%">{{key}}</td>
                <td style="border:1px solid lightgrey;width:80%">{{value}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div ng-if="choice">
        <table style="min-width:100px">
            <!--<thead style="border:1px solid lightgrey"><tr><td>Administrative Unit</td><td></td></tr></thead>-->
            <tbody>
            <tr>
                <td>1</td>
                <td style="border:1px solid lightgrey;width:20%">Yes,access to internet is stable</td>
                <td style="border:1px solid lightgrey;width:80%">{{valueMap[1]}}</td>
            </tr>
            <tr>
                <td>2</td>
                <td style="border:1px solid lightgrey;width:20%">Yes,access to internet is stable</td>
                <td style="border:1px solid lightgrey;width:80%">{{valueMap[2]}}</td>
            </tr>
            <tr>
                <td>3</td>
                <td style="border:1px solid lightgrey;width:20%">Yes,access to internet is stable</td>
                <td style="border:1px solid lightgrey;width:80%">{{valueMap[3]}}</td>
            </tr>
            <tr>
                <td>4</td>
                <td style="border:1px solid lightgrey;width:20%">Yes,access to internet is stable</td>
                <td style="border:1px solid lightgrey;width:80%">{{valueMap[4]}}</td>
            </tr>
            <tr>
                <td>5</td>
                <td style="border:1px solid lightgrey;width:20%">Yes,access to internet is stable</td>
                <td style="border:1px solid lightgrey;width:80%">{{valueMap[5]}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>