<style>
    .hideReport{
        display: none;
    }
</style>
<div ng-if="progressValue == 100" id="control" style="margin-top: 0px;">
    <input type="button" class="btn btn-success" id="dataButton" value="Change Data Criteria" style="width:140px" ng-click="back()" ng-if="trustedHtml">
    <input type="button" ng-if="preview"
           value="Create Report" style="width:120px" ng-click="createDataSetReport()" html-link="">
    <input type="button" class="btn btn-success" value="Print" onclick="window.print()" style="width:140px; display:none;">
</div>
<br />
<div>
    <progressbar ng-if="loadingReport" class="progress-striped active" animate="true" max="100" value="progressValue" type="success">
        <i>{{loadingStatus}}</i>
    </progressbar>
    <div ng-class="{'hideReport':loadingReport}" id="report" ng-if="trustedHtml" ng-bind-html="trustedHtml">

    </div>
</div>