<style>
    .yellow {
        background-color: yellow;
    }

    .red {
        background-color: lightcoral;
    }

    .green {
        background-color: darkseagreen;
    }

    textarea {
        width: 50%;
        height: 100px;
    }
    .freeTextTable td{
        border: 1px solid lightgrey;
    }

</style>
<div ng-if="error" class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    There was a problem. Please try again later.
</div>
<div ng-if="!error" class="col-sm-10">
    <div ng-if="reportStatus == ''" class="loader" style="margin-top: 0px;">
        <img
                src="../../../images/ajax-loader-bar.gif"> Checking Archive..
    </div>
    <table>
        <tr>
            <td>{{dataSet.name}}</td>
        </tr>
        <tr>
            <td>{{data.organisationUnit.name}}</td>
        </tr>
        <tr>
            <td>{{getPeriodName()}}</td>
        </tr>
    </table>
    <div class="row" ng-if="reportStatus == 'Starting'">
        <div ng-if="!completeDataSetRegistrations && completeDataSetRegistrationsLoading" class="loader"
             style="margin-top: 0px;">
            <img
                    src="../../../images/ajax-loader-bar.gif"> Loading Ward Completenes..
        </div>
        <div ng-if="!(!completeDataSetRegistrations && completeDataSetRegistrationsLoading)">
            <div class="col-sm-12" style="margin-bottom:20px">
                <input type="button" value="Change Criteria" ng-click="dataCriteria = !dataCriteria">
                <!--{{isNotAuthorized()}} || {{data.organisationUnit.level != 3}} || {{consistsOfReport}}-->
                <input ng-if="dataSet.name.indexOf('Integrated') == -1 && !lockReports" type="button"
                       ng-disabled="isNotAuthorized() || data.organisationUnit.level != 3 || consistsOfReport"
                       value="Create Report" style="width:120px" ng-click="createDataSetReport()" html-link="">
                <input type="button" ng-disabled="isNotAuthorized()" value="Preview" ng-click="generateDataSetReport()">
            </div>
            <style>
                .criteria #criteria {
                    margin-left: 15px;
                }
                @media print {
                    .align-right{
                        text-align:right !important;
                    }
                }
            </style>
            <criteria class="criteria" ng-show="dataCriteria"></criteria>
            <!--<div ng-if="!statusReturn.canCreate && statusReturn.create" class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Error creating Report. To create this report make sure the previous reports have been created.
            </div>-->
            <div ng-if="dataSet && !statusReturn.create">
                <breakdown-point control="control" show-reports="true" on-done="onDone" user="user" status="status" organisation-unit="data.organisationUnit" set-data-set="dataSet" on-reports-created="afterAllReportCreated">

                </breakdown-point>
            </div>
            <div ng-if="statusReturn.create">
                <img src="../../../images/ajax-loader-bar.gif"> Scheduling of Report for Creation...
            </div>
        </div>


    </div>
    <div ng-if="reportStatus == 'Executed'">
        <div ng-if="!loadFile" class="loader" style="margin-top: 0px;">
            <img
                    src="../../../images/ajax-loader-bar.gif"> Checking Archive...
        </div>
        <div ng-if="loadFile">
            <input type="button" value="Change Criteria" ng-click="dataCriteria = !dataCriteria">
            <!--<input type="button" value="Download PDF" ng-click="download()">-->
            <input type="button" value="Print" ng-click="printReport()">
            <input type="button" value="Download Excel" style="width:140px" ng-click="downloadExcel()">
            <input ng-if="dataSet.name.indexOf('Integrated') == -1 && !approveData.user  && data.organisationUnit.level > 2 && !parentApproved && !lockReports" type="button" ng-disabled="isNotAuthorized()" value="Undo Report Creation"
                   ng-click="undoDataSetReport()">
            <input ng-if="!approveData.user && approvalStatus == '' && !lockReports && data.organisationUnit.level > 2 && data.organisationUnit.path.indexOf(user.organisationUnits[0].id) > -1" type="button" ng-disabled="isNotApproved()"
                   value="Approve" ng-click="approve()">
            <input ng-if="approveData.user && approvalStatus == '' && !lockReports && data.organisationUnit.path.indexOf(user.organisationUnits[0].id) > -1" type="button" ng-disabled="isNotApproved()"
                   value="Disapprove" ng-click="disApprove()">
            <span ng-if="approvalStatus != ''" class="loader" style="margin-top: 0px;">
                <img
                        src="../../../images/ajax-loader-bar.gif"> {{approvalStatus}}
            </span><br/><br/>
            <div ng-if="approveData.user && approvalStatus == ''" class="alert alert-info" role="alert">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Approved by {{approveData.user.name}} on {{approveData.lastUpdated | date}}<br/><br/>

                Comments:<br/><br/>

                <i>{{commentData.comment}}</i>
            </div>
            <style>
                #criteria {
                    margin-left: 15px;
                }
            </style>
            <criteria class="criteria1" ng-show="dataCriteria"></criteria>
            <div ng-if="data.organisationUnit && !lockReports && approveData && data.organisationUnit.path.indexOf(user.organisationUnits[0].id) > -1" report-comment user="user" approve-data="approveData" org-unit="data.organisationUnit">
            </div>
            <div ng-bind-html="file" id="printablereport"></div>
        </div>
    </div>
    <div ng-if="reportStatus == 'Not Executed'">
        <div class="alert alert-info">
            <strong>Info!</strong> Report creation has been scheduled.
        </div>
        <input type="button" value="Preview" ng-click="generateDataSetReport()"><!--
        <input type="button" ng-disabled="isNotAuthorized()" value="Preview in Debug Mode"
               ng-click="generateDataSetReportInDebug()">-->
        <input type="button" value="Change Criteria" ng-click="dataCriteria = !dataCriteria"><input type="button" ng-click="cancelReport()" value="Cancel Report Creation">
        <criteria class="criteria" ng-show="dataCriteria"></criteria>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Comment</h4>
            </div>
            <div class="modal-body">
                <div ng-if="savingComment == 'savingLoad'" class="loader" style="margin-top: 0px;">
                    <img src="../../../images/ajax-loader-bar.gif"> Saving Comment..
                </div>
                <div ng-if="savingComment == 'commentLoad'" class="loader" style="margin-top: 0px;">
                    <img src="../../../images/ajax-loader-bar.gif"> Loading Previous Comments..
                </div>
                <div ng-if="savingComment == ''">
                    <div ng-repeat="comment in commentData">
                        <div ng-if="comment.lastUpdated" class="alert alert-info" role="alert">
                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            Last Updated on {{comment.lastUpdated | date}} by {{comment.lastCommenter.name}}
                        </div>
                    <textarea ng-disabled="approveData.data" placeholder="Write Your Comment Here"
                              ng-model="comment.comment" style="width: 100%;">

                    </textarea>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" style="display:initial" class="btn btn-default" data-dismiss="modal">Close
                </button>
                <button type="button" style="display:initial" class="btn btn-success" ng-click="saveComment()">Save
                    changes
                </button>
            </div>
        </div>
    </div>
</div>