<style>
    .red {
        background-color: lightcoral;
    }

    .green {
        background-color: darkseagreen;
    }
    textarea{
        width:50%;
        height:100px;
    }
</style>
<div ng-if="error" class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    There was a problem. Please try to <a ng-click="reloadPage()">Reload</a>.
</div>
<div ng-if="!error" class="col-sm-6">
    <div  ng-if="reportStatus == ''" class="loader" style="margin-top: 0px;">
        <img
                src="../../../images/ajax-loader-bar.gif"> Checking Archive..
    </div>
    <div class="row" ng-if="reportStatus == 'Starting'">
        <div ng-if="!completeDataSetRegistrations && completeDataSetRegistrationsLoading" class="loader" style="margin-top: 0px;">
            <img
                    src="../../../images/ajax-loader-bar.gif"> Loading Ward Completenes..
        </div>
        <div ng-if="!(!completeDataSetRegistrations && completeDataSetRegistrationsLoading)">
            <div class="col-sm-12">
                <input type="button" ng-disabled="isNotAuthorized()"
                       value="Create report" style="width:120px" ng-click="createDataSetReport()" html-link="">
                <input type="button" value="Preview" ng-click="generateDataSetReport()">
                <input type="button" value="Cancel" ng-click="load('/dataSetReport')">
            </div>

            <div class="col-sm-12" ng-if="completeDataSetRegistrations">
                <br/>
                <h4>Form Completion Status</h4>
                <table class="table table-bordered">
                    <tr>
                        <th>Ward Total</th>
                        <th>Wards Completed</th>
                        <th>Wards Not Completed</th>
                        <th>Completion Percentage</th>
                    </tr>
                    <tr>
                        <td>{{data.organisationUnit.children.length}}</td>
                        <td>{{completeDataSetRegistrations.length}}</td>
                        <td>{{data.organisationUnit.children.length - completeDataSetRegistrations.length}}</td>
                        <td ng-class="{red:(completeDataSetRegistrations.length / data.organisationUnit.children.length) * 100 < 70,green:(completeDataSetRegistrations.length / data.organisationUnit.children.length) * 100>= 70}">
                            {{(completeDataSetRegistrations.length / data.organisationUnit.children.length) * 100  | number : 2}}%
                        </td>
                    </tr>
                </table>
                <h4>Form Completion Status Details</h4>
                <table class="table table-bordered">
                    <tr>
                        <th>Organisation Unit</th>
                        <th>Status</th>
                    </tr>
                    <tr ng-repeat="orgUnit in data.organisationUnit.children">
                        <td>{{orgUnit.name}}</td>
                        <td ng-class="{red:getOrgUnitStatus(orgUnit.id)=='Incomplete',green:getOrgUnitStatus(orgUnit.id)=='Complete'}">
                            {{getOrgUnitStatus(orgUnit.id)}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>


    </div>
    <div ng-if="reportStatus == 'Executed'">
        <div ng-if="!loadFile" class="loader" style="margin-top: 0px;">
            <img
                    src="../../../images/ajax-loader-bar.gif"> Checking Archive...
        </div>
        <div ng-if="loadFile">
            <input type="button" value="Download PDF" ng-click="download()">
            <input type="button"  ng-disabled="isNotAuthorized()" value="Undo Report Creation" ng-click="undoDataSetReport()">
            <input ng-if="!approveData.user && approvalStatus == ''" type="button"  ng-disabled="isNotApproved()" value="Approve" ng-click="approve()">
            <input ng-if="approveData.user && approvalStatus == ''" type="button"  ng-disabled="isNotApproved()" value="Disapprove" ng-click="disApprove()">
            <span ng-if="approvalStatus != ''" class="loader" style="margin-top: 0px;">
                <img
                        src="../../../images/ajax-loader-bar.gif"> {{approvalStatus}}
            </span>
            <input type="button" data-toggle="collapse" data-target="#demo" value="Comment" ng-click="showComment()"/><br /><br />
            <div ng-if="approveData.user && approvalStatus == ''" class="alert alert-info" role="alert">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Approved by {{approveData.user.name}} on {{approveData.lastUpdated | date}}<br /><br />

                Comments:<br /><br />

                <i>{{commentData.comment}}</i>
            </div>

            <div id="demo" class="collapse">
                <div>
                <div  ng-if="savingComment == 'savingLoad'" class="loader" style="margin-top: 0px;">
                    <img src="../../../images/ajax-loader-bar.gif"> Saving Comment..
                </div>
                <div ng-if="savingComment == 'commentLoad'" class="loader" style="margin-top: 0px;">
                    <img src="../../../images/ajax-loader-bar.gif"> Loading Previous Comments..
                </div>
                <div ng-if="savingComment == ''">
                    <div ng-if="commentData.lastUpdated" class="alert alert-info" role="alert">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        Last Updated on {{commentData.lastUpdated | date}} by {{commentData.lastCommenter.name}}
                    </div>
                    <textarea ng-disabled="approveData.user" placeholder="Write Your Comment Here" ng-model="commentData.comment"style="width: 100%;">

                    </textarea>
                    <br /><br />
                    <button type="button" style="display:initial" class="btn btn-default" data-dismiss="collapse" ng-click="closeComment()">Close</button>
                    <button data-toggle="collapse" data-target="#demo" type="button"  ng-disabled="approveData.user" style="display:initial" class="btn btn-success" ng-click="saveComment()">Save changes</button>
                </div>
                </div>
            </div>
            <div ng-bind-html="file"></div>
        </div>
    </div>
    <div  ng-if="reportStatus == 'Not Executed'">
        The report is being processed. <br /><br />
        <input type="button" value="Preview" ng-click="generateDataSetReport()">
        <input type="button" value="Cancel" ng-click="load('/dataSetReport')">
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Comment</h4>
            </div>
            <div class="modal-body">
                <div  ng-if="savingComment == 'savingLoad'" class="loader" style="margin-top: 0px;">
                    <img src="../../../images/ajax-loader-bar.gif"> Saving Comment..
                </div>
                <div ng-if="savingComment == 'commentLoad'" class="loader" style="margin-top: 0px;">
                    <img src="../../../images/ajax-loader-bar.gif"> Loading Previous Comments..
                </div>
                <div ng-if="savingComment == ''">
                    <div ng-if="commentData.lastUpdated" class="alert alert-info" role="alert">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        Last Updated on {{commentData.lastUpdated | date}} by {{commentData.lastCommenter.name}}
                    </div>
                    <textarea ng-disabled="approveData.data" placeholder="Write Your Comment Here" ng-model="commentData.comment"style="width: 100%;">

                    </textarea>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" style="display:initial" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" style="display:initial" class="btn btn-success" ng-click="saveComment()">Save changes</button>
            </div>
        </div>
    </div>
</div>