<style>
    .hideReport{
        display: none;
    }
</style>
<div ng-if="progressValue == 100 && notArchive" id="control" style="margin-top: 0px;">
    <input type="button" id="dataButton" value="Change Data Criteria" style="width:140px" ng-click="back()" ng-if="trustedHtml">
    <input type="button" ng-if="preview" value="Create Report" style="width:120px" ng-click="createDataSetReport()" html-link="">
    <input type="button" value="Cancel" ng-click="load('/standardReport')">
</div>
<br />
<div>
    <progressbar ng-if="loadingReport && notArchive" class="progress-striped active" animate="true" max="100" value="progressValue" type="success">
        <i>{{loadingStatus}}</i>
    </progressbar>
    <div ng-class="{'hideReport':loadingReport}" id="report" ng-if="trustedHtml" ng-bind-html="trustedHtml">

    </div>
</div>